obj
bin
deps/nuget

.vscode/settings.json
.vs
*.vcxproj.user
src/Editor/Properties/launchSettings.json
src/Engine/engine_generated.h
src/Engine/engine_generated.cpp
src/EditorCore/editor_generated.cpp
